{% extends 'base.html'  %}

{% block content %}

<h1>
    My Pantry
</h1>

<div>
    <form action="{{ url_for('show_pantry') }}" method="POST">
        <div class="input-group mb-3">
            <input type="text" name="item_name" class="form-control" placeholder="Add item to my pantry" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
        </div>
    </form>
    <ul>
        {% for item in pantry_items %}
        <li>
            <form action="{{ url_for('remove_pantry', item_id=item.id) }}" method="POST">
                <span class="pantry_item">{{ item.product.name }}</span>
                <button type="submit" class="btn btn-outline-danger">X</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('search_with_pantry') }}" method="POST">
        <button class="btn btn-outline-success" type="submit">Search with Pantry</button>
    </form>
    
</div>

{% endblock %}