{% extends 'base.html'  %}

{% block content %}

<h1>
    {{ recipe.title }}
    {% if fav=="2" %}
        <span class="fa fa-star checked" data-recipe-id="{{ recipe.id }}"></span>
    {% elif  fav=="1"%}
        <span class="fa fa-star" data-recipe-id="{{ recipe.id }}"></span>
    {% endif %}
</h1>

<img class="recipe-image" src="{{ recipe.image }}" alt="{{ recipe.title }} Image">

<h4>Description</h4>
<p class="recipe-description">{{ recipe.description }}</p>

    <ul>
        <h4>Ingredients</h4>
        {% for ingredint in recipe.ingredients %}
        <li>
            {{ ingredint.product.name }} - {{ ingredint.amount }} {{ ingredint.unit }}
            
        </li>
        
        {% endfor %}
    </ul>
<p>Servings {{ recipe.servings }}</p>

{% endblock %}