{% extends 'base.html'  %}

{% block content %}

<h1>
    {{ recipe.title }}
    {% if fav=="2" %}
        <span class="fa fa-star checked" data-recipe-id="{{ recipe.id }}"></span>
    {% elif  fav=="1"%}
        <span class="fa fa-star" data-recipe-id="{{ recipe.id }}"></span>
    {% endif %}
</h1>

<img class="recipe-image" src="{{ recipe.image }}" alt="{{ recipe.title }} Image">
<p>{{ recipe.description }}</p>

    <ul>
        {% for ingredint in recipe.ingredients %}
        <li>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">{{ ingredint.product.name }}</li>
                <li class="list-group-item">{{ ingredint.amount }}</li>
                <li class="list-group-item">{{ ingredint.unit }}</li>
            </ul>
        </li>
        
        {% endfor %}
    </ul>
<p>Servings {{ recipe.servings }}</p>

{% endblock %}